{% extends "layout.html" %}

{% block content %}

<section class="hero">

<div class="hero-text">

<h1>Contact Us</h1>

<p>
If you have suggestions or feedback regarding this project, feel free to contact us.
</p>

</div>

</section>

<section class="detect-section">

<div class="detect-box">

<h2>Contact Form</h2>

<form>

<input type="text" placeholder="Your Name" style="width:100%;padding:15px;margin-bottom:15px;border-radius:10px;border:none;">

<input type="email" placeholder="Your Email" style="width:100%;padding:15px;margin-bottom:15px;border-radius:10px;border:none;">

<textarea placeholder="Your Message"></textarea>

<button type="submit">Send Message</button>

</form>

</div>

</section>

{% endblock %}